@font-face {
    font-family: Fidelity Sans;
    font-style: normal;
    font-weight: 700;
    src: url(https://assets.fidelity.com/fonts/FidelitySans-Bold.woff2) format("woff2"),url(https://assets.fidelity.com/fonts/FidelitySans-Bold.woff) format("woff")
}

@font-face {
    font-family: Fidelity Sans;
    font-style: normal;
    font-weight: 800;
    src: url(https://assets.fidelity.com/fonts/FidelitySans-ExtraBold.woff2) format("woff2"),url(https://assets.fidelity.com/fonts/FidelitySans-ExtraBold.woff) format("woff")
}

@font-face {
    font-family: Fidelity Sans;
    font-style: normal;
    font-weight: 300;
    src: url(https://assets.fidelity.com/fonts/FidelitySans-Light.woff2) format("woff2"),url(https://assets.fidelity.com/fonts/FidelitySans-Light.woff) format("woff")
}

@font-face {
    font-family: Fidelity Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://assets.fidelity.com/fonts/FidelitySans-Regular.woff2) format("woff2"),url(https://assets.fidelity.com/fonts/FidelitySans-Regular.woff) format("woff")
}

@font-face {
    font-family: Fidelity Sans;
    font-style: normal;
    font-weight: 200;
    src: url(https://assets.fidelity.com/fonts/FidelitySans-UltraLight.woff2) format("woff2"),url(https://assets.fidelity.com/fonts/FidelitySans-UltraLight.woff) format("woff")
}

@font-face {
    font-family: FidelitySans-CondensedMedium;
    font-style: normal;
    font-weight: 500;
    src: url(https://assets.fidelity.com/fonts/FidelitySans-CondensedMedium.woff2) format("woff2"),url(https://assets.fidelity.com/fonts/FidelitySans-CondensedMedium.woff) format("woff")
}

pvd-icon {
    line-height: 0
}

.pvd-icon-root {
    fill: currentColor;
    stroke: none;
    display: inline-block;
    height: 1.25rem;
    position: relative;
    width: 1.25rem
}

.pvd-icon-root:focus {
    outline: 1px dotted #000
}

.pvd-icon-root.pvd-icon--large {
    height: 1.5rem;
    width: 1.5rem
}

.pvd-icon-root.pvd-icon--small {
    height: 1rem;
    width: 1rem
}

.pvd-icon-root.pvd-icon--extra-small {
    height: 12px;
    width: 12px
}

body,p {
    margin: 0
}

p {
    padding: 0
}

#svip-title {
    font-size: 1.5em;
    font-weight: 500
}

.hide-item {
    display: none!important
}

.auto-height {
    height: auto!important;
    min-height: 100vh!important
}

.bottom-padding-15 {
    padding-bottom: 15vh
}

.main-container {
    background-color: #f2f2f2;
    border: 1px solid transparent;
    box-sizing: border-box;
    min-height: 100vh
}

.main-container nav.dom-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Fidelity Sans,Arial,sans-serif;
    height: 3.75rem;
    justify-content: space-between
}

.main-container nav.dom-header div.dom-header-logo {
    margin: 1rem 0 0 1.25rem
}

.main-container nav.dom-header div.dom-header-logo a {
    text-decoration: none
}

.main-container nav.dom-header div.dom-header-links {
    margin: 0 1.25rem 0 0
}

.main-container nav.dom-header div.dom-header-links .dom-header-pvd-link {
    color: #000;
    font-weight: 400;
    vertical-align: middle
}

.main-container nav.dom-header div.dom-header-links .dom-act-btn:nth-child(3),.main-container nav.dom-header div.dom-header-links .pvd-space-inline-two-x {
    margin: 0 0 0 2rem
}

.main-container nav.dom-header div.dom-header-links .dom-act-btn:nth-child(4) {
    margin: 0 0 0 .75rem
}

.main-container .dom-container {
    margin: 15vh auto 0;
    padding-bottom: 2rem;
    width: 448px
}

.main-container .dom-mv-actions {
    display: none
}

footer.dom-footer {
    background-color: #f2f2f2;
    border: 1px solid transparent;
    color: #666;
    font-family: Fidelity Sans,Arial,sans-serif;
    font-size: .75rem;
    font-weight: 400
}

footer.dom-footer pvd-link .pvd-link-root.pvd-link--small .pvd-link__link .pvd-link__text {
    font-size: .75rem
}

footer.dom-footer .dom-footer-pvd-link {
    color: #666!important
}

footer.dom-footer>p {
    font-family: Fidelity Sans;
    letter-spacing: 0;
    line-height: 1.5;
    max-width: 920px;
    text-align: left
}

footer.dom-footer>div,footer.dom-footer>p {
    box-sizing: border-box;
    padding: .75rem 1.25rem;
    width: 100%
}

footer.dom-footer>div {
    display: grid;
    grid-template-columns: 1fr 1fr
}

footer.dom-footer>div>div.footer-copyright {
    line-height: 1.5;
    text-align: start
}

footer.dom-footer>div>div.footer-links {
    text-align: end
}

footer.dom-footer>div>div.footer-links .dom-footer-pvd-link {
    padding: .75rem 1.5rem .75rem 0
}

footer.dom-footer>div>div.footer-links .pvd-link__icon.pvd-link__icon--right {
    display: none
}

a.underline {
    text-decoration: underline!important
}

.dom-act-btn {
    background-color: #fff;
    border: 1px solid #368727;
    border-radius: .5rem;
    color: #368727;
    font-size: 1rem;
    font-weight: 700;
    padding: 0!important
}

.dom-act-btn span.pvd-link-root {
    width: 100%
}

.dom-act-btn span.pvd-link-root a.dom-act-btn-link {
    color: #368727!important;
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem 1rem!important;
    width: 100%
}

.dom-link {
    text-decoration: underline!important
}

#fg-signup {
    display: none!important
}

@media screen and (min-width: 512px) {
    .main-container {
        height:auto;
        min-height: 100vh
    }

    .main-container .dom-header {
        align-items: center;
        position: static
    }

    .main-container .dom-header div.dom-header-links,.main-container .dom-header div.dom-header-logo,.main-container .dom-mv-actions {
        position: static
    }

    .main-container .dom-link-actions {
        display: block;
        font-family: Fidelity Sans,Arial,sans-serif!important;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        text-align: center!important
    }

    .main-container .dom-link-actions>pvd-link {
        display: inline-block;
        text-align: center!important
    }

    .main-container .dom-link-actions .dom-act-link {
        color: #000
    }

    .main-container .dom-link-actions>pvd-link:nth-child(3),.main-container .dom-link-actions>pvd-link:nth-child(4) {
        width: 49%
    }

    .main-container .dom-link-actions .dom-space-right {
        margin-right: .25rem
    }

    .main-container .dom-link-actions .dom-space-left {
        margin-left: .25rem
    }

    .main-container .dom-link-lessres {
        display: none
    }

    .main-container footer.dom-footer {
        position: static
    }
}

@media screen and (max-width: 511px) {
    .main-container .dom-header,.main-container .dom-header div.dom-header-logo {
        position:static
    }

    .main-container .dom-header div.dom-header-links {
        display: none
    }

    .main-container .dom-mv-actions {
        font-family: Fidelity Sans,Arial,sans-serif!important;
        text-align: center!important
    }

    .main-container .dom-mv-actions>pvd-link {
        display: inline-block;
        text-align: center!important
    }

    .main-container .dom-mv-actions .dom-act-link {
        color: #000;
        margin: 1.5rem 0 0;
        text-decoration: underline
    }

    .main-container .dom-mv-actions>pvd-link:nth-child(3),.main-container .dom-mv-actions>pvd-link:nth-child(4) {
        width: 49%
    }

    .main-container .dom-mv-actions .dom-space-right {
        margin-right: 2rem
    }

    .main-container .dom-mv-actions .dom-space-left {
        margin-left: 5rem
    }

    .main-container .dom-mv-actions .dom-space-top {
        margin-top: 24px
    }

    .main-container .dom-link-actions {
        display: none
    }

    .main-container .dom-link-lessres {
        font-family: Fidelity Sans,Arial,sans-serif!important;
        margin: 1.5rem auto 0;
        padding: 0;
        text-align: center!important
    }

    .main-container .dom-link-lessres>pvd-link {
        display: inline-block;
        text-align: center!important
    }

    .main-container .dom-link-lessres .dom-act-link {
        color: #000
    }

    .main-container .dom-link-lessres>pvd-link:nth-child(3),.main-container .dom-link-lessres>pvd-link:nth-child(4) {
        width: 49%
    }

    .main-container .dom-link-lessres .dom-space-right {
        margin-right: .25rem
    }

    .main-container .dom-link-lessres .dom-space-left {
        margin-left: .25rem
    }

    footer.dom-footer>div {
        display: block
    }

    footer.dom-footer>div>div.footer-links {
        text-align: start
    }

    footer.dom-footer>div>div.footer-links pvd-link {
        display: inline-block;
        width: 49%
    }

    footer.dom-footer>div>div.footer-links>pvd-link:nth-child(6) {
        width: 80%
    }

    footer.dom-footer>div>div.footer-links .pvd-link__icon.pvd-link__icon--right {
        display: none
    }
}

@media only screen and (max-width: 511px) {
    .main-container nav.dom-header {
        border-bottom:none
    }

    .main-container .dom-mv-actions {
        display: block;
        margin: 0 auto;
        max-width: unset;
        padding: 0;
        width: calc(100% - 2rem)
    }

    .main-container .dom-mv-actions .dom-act-btn {
        display: block;
        margin: .75rem auto 0;
        width: 100%
    }

    .main-container .dom-mv-actions .dom-act-btn:first-child {
        margin-top: 1.5rem
    }

    .main-container .dom-container {
        margin: 0 auto;
        width: auto
    }

    footer.dom-footer {
        font-size: .875rem
    }

    footer.dom-footer pvd-link .pvd-link-root.pvd-link--small .pvd-link__link .pvd-link__text {
        font-size: .875rem!important
    }
}
